[build-system]
requires = ["hatchling", "hatch-regex-commit"]
build-backend = "hatchling.build"

[project]
name = "nextline-graphql"
dynamic = ["version"]
description = "A GraphQL API for Nextline"
readme = "README.md"
license = "MIT"
authors = [
    { name = "Simons Observatory", email = "so_software@simonsobservatory.org" },
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]
dependencies = [
    "alembic>=1.7",
    "dynaconf>=3.1",
    "janus>=0.6",
    "nextline>=0.3.5",
    "SQLAlchemy>=1.4",
    "starlette>=0.20.4",
    "strawberry-graphql>=0.128",
    "websockets>=10.2",
]

[project.optional-dependencies]
dev = [
    "black",
    "flake8",
    "logging_tree",
    "mypy",
    "sqlalchemy-stubs",
    "tox",
    "twine",
    "uvicorn",
]
tests = [
    "async-asgi-testclient>=1.4",
    "pytest-asyncio>=0.18",
    "pytest-cov>=3.0",
    "pytest-timeout>=2.1",
    "pytest>=7.0",
    "snapshottest>=0.6",
]

[project.urls]
Homepage = "https://github.com/simonsobs/nextline"

[tool.hatch.version]
source = "regex_commit"
path = "nextlinegraphql/__about__.py"
tag_sign = false

[tool.hatch.build.targets.sdist]
include = ["/nextlinegraphql"]

[tool.black]
skip-string-normalization = true
target_version = ['py38', 'py39', 'py310', 'py311']

[tool.isort]
profile = "black"
