# The exact requirements of the latest versions of the dependencies. This file
# is used in a GitHub Actions workflow to test the compatibility with the
# latest versions of the dependencies. This file is monitored by Dependabot.
nextline==0.7.16
apluggy==1.0.3
dynaconf==3.2.6
starlette==0.39.2
strawberry-graphql==0.246.0
websockets==13.1
rich==13.9.2
async-asgi-testclient==1.4.11
pytest-asyncio==0.24.0
pytest-cov==5.0.0
pytest-timeout==2.3.1
pytest==8.3.3
syrupy==4.7.2
