# The exact requirements of the latest versions of the dependencies. This file
# is used in a GitHub Actions workflow to test the compatibility with the
# latest versions of the dependencies. This file is monitored by Dependabot.
nextline==0.7.20
apluggy==1.0.3
dynaconf==3.2.10
starlette==0.45.3
strawberry-graphql==0.260.2
websockets==15.0
rich==13.9.4
async-asgi-testclient==1.4.11
pytest-asyncio==0.25.3
pytest-cov==6.0.0
pytest-timeout==2.3.1
pytest==8.3.4
syrupy==4.8.1
