# Default settings
#
# Syntax can be learned from Dynaconf examples 
# https://github.com/rochacbruno/learndynaconf/tree/main/configs

[default]
db = {url = "sqlite:///:memory:"}

[default.logging]
disable_existing_loggers = false
version = 1

[default.logging.formatters.default]
# datefmt = "%Y-%m-%d %H:%M:%S"
# format = "{asctime} {levelname:>8s} {pathname}:{lineno}: {message}"
format = "{levelname:8s} [{name}] {message}"
style = "{"

[default.logging.handlers.default]
class = "logging.StreamHandler"
formatter = "default"

[default.logging.loggers.nextlinegraphql]
handlers = ["default"]
level = "DEBUG"

[default.logging.loggers.alembic]
handlers = ["default"]
level = "INFO"
