# Default settings
#
# Syntax can be learned from Dynaconf examples 
# https://github.com/rochacbruno/learndynaconf/tree/main/configs

[db]
url = "sqlite:///:memory:?check_same_thread=false"

[logging]
disable_existing_loggers = false
version = 1

[logging.formatters.default]
# datefmt = "%Y-%m-%d %H:%M:%S"
# format = "{asctime} {levelname:>8s} {pathname}:{lineno}: {message}"
format = "{levelname:8s} [{name}] {message}"
style = "{"

[logging.handlers.default]
class = "logging.StreamHandler"
formatter = "default"

[logging.loggers.nextlinegraphql]
handlers = ["default"]
level = "DEBUG"

[logging.loggers.nextline]
handlers = ["default"]
level = "DEBUG"

[logging.loggers.alembic]
handlers = ["default"]
level = "INFO"

# [logging.loggers.sqlalchemy]
# handlers = ["default"]
# level = "DEBUG"
