name: Run unit tests with Nextline dev

# Test with nextline checked out from GitHub (rather than from PyPI)
# coverage won't be run 

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pwd
        cd ..
        git clone https://github.com/simonsobs/nextline.git
        python -m pip install -e './nextline'
        cd -
        python -m pip install -e '.[tests]'
        python -m pip list
    - name: Test with pytest
      run: |
        pytest -vv
